#finanzas { 
    display: flex;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.barra-tareas {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    position: fixed;
    bottom: 0;
    top: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
}

.icono {
    cursor: pointer;
    padding: 10px 20px;
}

.icono:hover {
    background-color: #444;
}